<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>770571023655-ge5cf8t9sscao34vh56pnqqmor936jra.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.770571023655-ge5cf8t9sscao34vh56pnqqmor936jra</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>770571023655-b07hpolp3e1grtbpnfed5jqc8uovfc7e.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDRNOQtBvKp5YuzIUVGQErtiw0y1TSOy30</string>
	<key>GCM_SENDER_ID</key>
	<string>770571023655</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.airjaen</string>
	<key>PROJECT_ID</key>
	<string>airjaen</string>
	<key>STORAGE_BUCKET</key>
	<string>airjaen.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:770571023655:ios:2c773d877e2417ccdae502</string>
</dict>
</plist>